* {
    /* background-color: #d6d3d3; */
    margin: 0;
    box-sizing: border-box;
}

.main-header-img{
    height: 200px;
    width: 100%;
    background-image: url(./images/main-header.jpg);
    background-size: cover;

}

header h1 {
    background-color:#f58ea0;
    color: #dad8d8;
    text-align: center;
    padding: 16px;
}

/* ---End of Header--- */

main {
    width: 80%;
    margin: 2em auto;
    border: 2px solid white;
    border-radius: 8px;
    padding: 2em;
    background-color: #eeeeee;
    display: block;
}


main h2 {
    color: #F112F1;
    font: 24px;
    font-family: 'Times New Roman';
    background-color: #dad8d8;
    padding:12px;
}

main p {
    padding: 8px;
    }


/* --End of Topics section-- */


#candy-floss {
    float: left;
    border: 5px solid #ebf64d;
    margin-right: 16px;
}

#lollipop {
    float: right;
    margin-left: 16px;
    border: 5px solid #1ed7f0;
}

#jelly-bean {
    float: left;
    border: 5px solid #ff69b4;
    margin-right: 16px;
}

.ourtreats img {
    width: 125px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    
}


.ourtreats p {
    display: block;
    padding: 15px 10px;
    margin: 10px 5px;
}

/* --- End of Ourtreats section --- */


.links-list h4 {
    text-align: center;
    padding: 10px 10px;
    font-size: larger;
}

.links-list ul {
    background-color: #f58ea0;
    padding: 8px;
    list-style: none;
    display: block;
    width: 100%;
}

.links-list ul:hover {
    background-color: #ebf64d;
    cursor: pointer;
}

.partners {
    text-decoration: none;
    width: 100%;
    display: block;
}

.partners:hover {
    background-color: #f58ea0;
    padding: 8px 2px;
}



/* --End of Partners section-- */



footer h3 {
    text-align: center;
    padding: 20px;
}

#drop a {
    text-decoration: none;
}

/* --End of Footer-- */



/* ---Contact Page--- */

.top-container {
    height: 200px;
    background-image:url(./images/contact-header.jpeg);
    background-size: cover;
}

#Contact h2 {
    margin: 20px 10px;
}

#Contact ul {
    background-color:#1ed7f0;
    margin: 20px 20px;
    padding: 10px 10px;
        
}

#Contact a {
    text-decoration: none;
}

#Contact li {
    
    list-style-type: none;
    padding: 1px 5px;
}

#Contact li:hover {
    background-color: #f58ea0;
    padding: 5px 10px;
}

#backToMain a {
    padding: 5px 10px;
    color: #F112F1;
}